MONGOPASS=
LGTOKEN=
PSTOKEN=
WUDOO_API_KEY=
EMAIL_PASSWORD=
WUBOOK_API_KEY=
WUBOOK_TOKEN=
WUBOOK_LCODE=
WUBOOK_XMLRPC_URL=https://wired.wubook.net/xrws/
WUBOOK_API_BASE=https://kapi.wubook.net
WUBOOK_CURRENCY=UAH